#
#  GluinoAnalysis Example Configuration for Local run
#
#  More information and help: http://gluino.com
#

[settings]
# The amount of process threads to be used, Default: -1 uses all available cores/cpus. 
# Specifying numbers larger then the available cores, increeses the amount of merges 
# with a large number of input files, for any given analysis a hotspot might exist between
# the number of jobs and the amount of mergeing to be done in the end.
# If uncertain use the default setting.
processors = -1

# runtypes:  local, distributed, (grid -- not implemented yet)
runtype = local

# The joboptions contains settings parsed into the user analysis method as list pairs
# Access by  input["joboptions"][i][0] = "Title", input["joboptions"][i][1] == value 
# where i is the index given by the order of the settings in the list below:
[joboptions]
maxEventsPerJob = -1
ImAVariablePassedToUserAnalysis = 1/137

[output]
# Save the histograms to a file?
saveToFile: True
# File name for the output file if true above
filename: test.root

# Start a ROOT session interface with the resulting histograms.
interactive: True


# Distributed Settings not needed to run locally
[distributed]
hosts: 127.0.0.1:1137;glue balls


[input]
# Specify the input files, as a comma separated list.
files: /Data/my_ntuple_001.root, /Data/my_ntuple_002.root, /Data/my_ntuple_003.root, /Data/my_ntuple_004.root