[settings]
# The amount of process threads to be used, Default: -1 uses all available cores/cpus. 
# Specifying numbers larger then the available cores, increeses the amount of merges 
# with a large number of input files, for any given analysis a hotspot might exist between
# the number of jobs and the amount of mergeing to be done in the end.
# If uncertain use the default setting.
processors = -1

# runtypes:  local, distributed, grid
runtype = local

# The joboptions contains settings parsed into the user analysis method as list pairs
# Access by  input["joboptions"][i][0] = "Title", input["joboptions"][i][1] == value 
# where i is the index given by the order of the settings in the list below:
[joboptions]
maxEventsPerJob = -1

# Specify local variables relevant to your configuration
truemass = 300000
distributed = False

[output]

# Save the histograms to a file?
saveToFile: True
# File name for the output file if true above
filename: Histograms/localrun_histos.root

# Start a ROOT session interface with the resulting histograms.
interactive: True

[input]

# Specify the input files, as a comma separated list
files: /path/to/files/file01.root, /path/to/files/file02.root, /path/to/files/file03.root, /path/to/files/file04.root, /path/to/files/file05.root